{% extends 'default/layout.html' %}

{% block suscriptor %}

{% if mensaje == "" %}
<table>
    <tr>
        <td>
<u><h4>Datos del Suscriptor</h4></u>
<dl>
    <dt>Nombre</dt>
    <dd>{{ datos.nombre }}</dd>
    <dt>Apellido</dt>
    <dd>{{ datos.apellido }}</dd>
    <dt>Email</dt>
    <dd>{{ datos.email }}</dd>
    <dt>Premium</dt>
    {% if datos.premium %}
        <dd>Si</dd>
        {% else %}
        <dd>No</dd>
    {% endif %}
</dl>
        </td>
        <td>&nbsp &nbsp &nbsp &nbsp</td>
        <td>
<u><h4>Datos de la Tarjeta</h4></u>

<dl>
    <dt>Documento (DNI)</dt>
    <dd>{{ tarjeta.dni }}</dd>
    <dt>Numero de Tarjeta</dt>
    <dd>{{ tarjeta.numero }}</dd>
    <dt>clave</dt>
    <dd>{{ tarjeta.clave }}</dd>
    <dt>fecha de vencimiento</dt>
    <dd>{{ tarjeta.fechaVencimiento }}</dd>
    <dt>Tipo de Tarjeta</dt>
    <dd>{{ tipo.nombre }}</dd>
</dl>
        </td>
        <td>&nbsp &nbsp &nbsp &nbsp</td>
        <td>
            <u><h4>Perfiles</h4></u>
            <a class="btn" style="background-color:hotpink" role="button" >{{user.nombre}}{{user.apellido}}</a>
            <a class="btn" style="background-color:tomato" role="button" href="/perfiles">Administrar perfiles</a>
        </td>
    </tr>
</table>
<a class="btn btn-info" role="button" href="/editarSuscriptor/{{ user.id }}">Editar Informacion</a>

{% else %}
<p>{{mensaje}}</p>
{% endif %}
{% endblock %}