{% extends 'default/layout.html' %}

{% block suscriptor %}

{% if mensaje == "" %}
<table>
    <tr>
        <td>
<u><p>Datos del Suscriptor</p></u>
<dl>
    <dt>Nombre</dt>
    <dd>{{ datos.nombre }}</dd>
    <dt>Apellido</dt>
    <dd>{{ datos.apellido }}</dd>
    <dt>Email</dt>
    <dd>{{ datos.email }}</dd>
</dl>
        </td>
        <td>
            ***
        </td>
        <td>
<u><p>Datos de la Tarjeta</p></u>

<dl>
    <dt>Documento (DNI)</dt>
    <dd>{{ tarjeta.dni }}</dd>
    <dt>Numero de Tarjeta</dt>
    <dd>{{ tarjeta.numero }}</dd>
    <dt>clave</dt>
    <dd>{{ tarjeta.clave }}</dd>
    <dt>fecha de vencimiento</dt>
    <dd>{{ tarjeta.fechaVencimiento }}</dd>
    <dt>Tipo de Tarjeta</dt>
    <dd>{{ tipo.nombre }}</dd>
</dl>
        </td>
    </tr>
</table>
<a class="btn btn-info" role="button" href="/editarSuscriptor/{{ user.id }}">Editar</a>

{% else %}
<p>{{mensaje}}</p>
{% endif %}
{% endblock %}