{% extends 'default/layout.html' %}


{% block suscriptor %}
<form method="get" action="/viewBook/{{obj.idLibro.id}}">
    <button class="btn btn-primary" type="submit">Volver</button>
</form>
{% if disponible %}
<iframe src= "/{{obj.archivo}}#toolbar=0" width="100%" height="500px"></iframe>
{% else %}
<h2>No esta disponible</h2>
{% endif %}
{% endblock %}

{% block admin %}
<form method="get" action="/listBooks">
    <button class="btn btn-primary" type="submit">Volver</button>
</form>
<iframe src= "/{{obj.archivo}}#toolbar=0" width="100%" height="500px"></iframe>
{% endblock %}