{% extends 'default/layout.html' %}


{% block admin %}
<form method="get" action="/listBooks">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>

<table style="width:100%">
<tr>
<td style="width:50%">
<h2>{{obj.nombre}}</h2>
{% if obj.foto %}
    <img src= "/{{obj.foto}}" width="256"></img>
{% endif %}
</br>
<strong>Autor: </strong> <p>{{obj.idAutor}}</p>
<strong>Genero: </strong> <p>{{obj.idGenero}}</p>
<strong>Editorial: </strong> <p>{{obj.idEditorial}}</p>
<strong>Descripcion: </strong> <p>{{obj.descripcion}}</p>

<form method="get" action="/editBook/{{obj.id}}">
    <button class="btn btn-primary" type="submit">Editar Metadatos</button>
    {% if obj.ultimoCapitulo %}<a class="btn btn-info" role="button" href="/editFechaLibro/{{ obj.id }}"> Editar Fechas</a>{% endif %}
</form>
</td>

<td style="width:50%">
{% if capitulos %}
    <table>
        <th><h4>Capitulos</h4></th>
    {% for capitulo in capitulos %}
    {% if obj.LibroEnCapitulos %}
    <tr>
        <td><b>{{capitulo.numero}}_</b> {{capitulo.nombre}}</td>
        <td>
            <form method="get" action="/leerCapitulo/{{capitulo.id}}">
                <button class="btn btn-success" type="submit">Leer</button>
                <a class="btn btn-danger" role="button" href="/deleteCapitulo/{{ capitulo.id }}" onClick="return confirm('¿Seguro que quieres borrar a el capitulo?');"> Eliminar</a>
                <a class="btn btn-primary" role="button" href="/editCapitulo/{{ capitulo.id }}"> Editar Capitulo</a>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <p><h5>Libro completo</h5></p>
        <td>
            <form method="get" action="/leerCapitulo/{{capitulos.0.id}}">
                <button class="btn btn-success" type="submit">Leer Libro</button>
                <a class="btn btn-danger" role="button" href="/deleteCapitulo/{{ capitulo.id }}" onClick="return confirm('¿Seguro que quieres borrar a el archivo?');"> Eliminar archivo</a>
                {% if obj.ultimoCapitulo %}<a class="btn btn-primary" role="button" href="/editFechaLibro/{{ obj.id }}"> Editar Fechas</a>{% endif %}
            </form>
        </td>

    </tr>
    {% endif %}
    {% endfor %}
    </table> 
{% else %}
    <p><b>El libro aun no tiene capitulos</b></p>
    <a class="btn btn-warning" role="button" href="/loadLibroCompleto/{{ obj.id }}">Subir Libro Completo</a>
    <a class="btn btn-warning" role="button" href="/loadLibroEnCapitulos/{{ obj.id }}">Subir Libro por Capitulos</a>
{% endif %}
</td>
</tr>
<tr>
    <tr><th><h4>Trailers</h4></th></tr>
    {% if trailers %}
    {% for trailer in trailers %}
        <td>{{ trailer.titulo }}</td>
        <td>
            <form method="get" action="/viewTrailer/{{trailer.id}}">
                <button class="btn btn-info" type="submit">Ver</button>
            </form>
        </td>
        <td>
            <form method="get" action="/editTrailer/{{trailer.id}}">
                <button class="btn btn-primary" type="submit">Editar</button>
            </form>
        </td>
    {% endfor %}
    {% else %}
        <td>No Hay trailers disponibles</td>
    {% endif %}
</tr>
<tr><th>Reseñas</th></tr>
<tr><td>No hay reseñas todavia</td></tr>

</table>


{% endblock %}


{% block suscriptor %}
<form method="get" action="/listBooks">
    <button class="btn btn-primary" type="submit">Volver</button>
</form>

<table style="width:100%">
    <tr>
    <td style="width:50%">
    <h2>{{obj.nombre}}</h2>
    {% if obj.foto %}
        <img src= "/{{obj.foto}}" width="256"></img>
    {% endif %}
</br>
<strong>Autor: </strong> <p>{{obj.idAutor}}</p>
<strong>Genero: </strong> <p>{{obj.idGenero}}</p>
<strong>Editorial: </strong> <p>{{obj.idEditorial}}</p>
<strong>Descripcion: </strong> <p>{{obj.descripcion}}</p>
    </td>


    <td style="width:50%">
    {% if capitulos %}
        <table>
        {% if obj.LibroEnCapitulos %}
        <th>Capitulos</th>
        {% for capitulo in capitulos %}
        <tr>
            <td>{{capitulo.numero}} {{capitulo.nombre}}</td>
            <td>
                <form method="get" action="/leerCapitulo/{{capitulo.id}}">
                    <button class="btn btn-primary" type="submit">Leer</button>
                </form>
            </td>
            {% for abierto in abiertos %}
            {% if capitulo.id == abierto.idCapitulo.id %}
            <td>
                <form method="get" action="/marcarCapitulo/{{capitulo.id}}">
                    <button class="btn btn-danger" type="submit">Marcar Leido</button>
                </form>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% else %}
        <p>Libro completo</p>
        <tr>
            <td>
                <form method="get" action="/leerCapitulo/{{capitulos.0.id}}">
                    <button class="btn btn-primary" type="submit">Leer Libro</button>
                </form>
            </td>
            {% if capitulo in abiertos %}
            <td>
                <form method="get" action="/marcarCapitulo/{{capitulos.0.id}}">
                    <button class="btn btn-danger" type="submit">Marcar Leido</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endif %}
        </table>
    {% else %}
        <p>Libro no disponible</p>
    {% endif %}
    </td>
    </tr>
    <tr>
        <tr><th>Trailers</th></tr>
        {% if trailers %}
        {% for trailer in trailers %}
            <td>{{ trailer.titulo }}</td>
            <td>
                <form method="get" action="/viewTrailer/{{trailer.id}}">
                    <button class="btn btn-info" type="submit">Ver</button>
                </form>
            </td>
        {% endfor %}
        {% else %}
            <td>No Hay trailers disponibles</td>
        {% endif %}
    </tr>
    <tr><th>Reseñas</th></tr>
    <tr><td>No hay reseñas todavia</td></tr>

    </table>

{% endblock %}