{% extends 'default/layout.html' %}


{% block admin %}
<form method="get" action="/listBooks">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>

<table style="width:100%">
<tr>
<td style="width:50%">
<h2>{{obj.nombre}}</h2>
{% if obj.foto %}
    <img src= "/{{obj.foto}}" width="256"></img>
{% endif %}
</br>
<strong>Autor: </strong> <p>{{obj.idAutor}}</p>
<strong>Genero: </strong> <p>{{obj.idGenero}}</p>
<strong>Editorial: </strong> <p>{{obj.idEditorial}}</p>
<strong>Descripcion: </strong> <p>{{obj.descripcion}}</p>

<form method="get" action="/editBook/{{obj.id}}">
    <button class="btn btn-primary" type="submit">Editar Metadatos</button>
    {% if obj.ultimoCapitulo %}<a class="btn btn-info" role="button" href="/editFechaLibro/{{ obj.id }}"> Editar Fechas</a>{% endif %}
</form>
</td>

<td style="width:50%">
{% if capitulos %}
    <table>
        <th><h4>Capitulos</h4></th>
    {% for capitulo in capitulos %}
    {% if obj.LibroEnCapitulos %}
    <tr>
        <td><b>{{capitulo.numero}}_</b> {{capitulo.nombre}}</td>
        <td>
            <form method="get" action="/leerCapitulo/{{capitulo.id}}">
                <button class="btn btn-success" type="submit">Leer</button>
                <a class="btn btn-danger" role="button" href="/deleteCapitulo/{{ capitulo.id }}" onClick="return confirm('¿Seguro que quieres borrar a el capitulo?');"> Eliminar</a>
                <a class="btn btn-primary" role="button" href="/editCapitulo/{{ capitulo.id }}"> Editar Capitulo</a>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <p><h5>Libro completo</h5></p>
        <td>
            <form method="get" action="/leerCapitulo/{{capitulos.0.id}}">
                <button class="btn btn-success" type="submit">Leer Libro</button>
                <a class="btn btn-danger" role="button" href="/deleteCapitulo/{{ capitulo.id }}" onClick="return confirm('¿Seguro que quieres borrar a el archivo?');"> Eliminar archivo</a>
                {% if obj.ultimoCapitulo %}<a class="btn btn-primary" role="button" href="/editFechaLibro/{{ obj.id }}"> Editar Fechas</a>{% endif %}
            </form>
        </td>

    </tr>
    {% endif %}
    {% endfor %}
    </table> 
{% else %}
    <p><b>El libro aun no tiene capitulos</b></p>
    <a class="btn btn-warning" role="button" href="/loadLibroCompleto/{{ obj.id }}">Subir Libro Completo</a>
    <a class="btn btn-warning" role="button" href="/loadLibroEnCapitulos/{{ obj.id }}">Subir Libro por Capitulos</a>
{% endif %}
</td>
</tr>
<tr>
    <tr><th><h4>Trailers</h4></th></tr>
    {% if trailers %}
    {% for trailer in trailers %}
        <td>{{ trailer.titulo }}</td>
        <td>
            <form method="get" action="/viewTrailer/{{trailer.id}}">
                <button class="btn btn-info" type="submit">Ver</button>
            </form>
        </td>
        <td>
            <form method="get" action="/editTrailer/{{trailer.id}}">
                <button class="btn btn-primary" type="submit">Editar</button>
            </form>
        </td>
    {% endfor %}
    {% else %}
        <td>No Hay trailers disponibles</td>
    {% endif %}
</tr>
<tr><th>Reseñas</th></tr>
    {% if puntaje == 0 %}
    <tr><td>Puntaje: N/A</td></tr>
    {% else %}
    <tr><td>Puntaje: {{puntaje}}</td></tr>
    {% endif %}
    {% for reseña in reseñas %}
        <tr>
            <th>{{reseña.nombre}}{% if reseña.idPerfil == null %} (Perfil eliminido) {% endif %} Puntaje: {{reseña.puntaje}}/5</th>
            
        </tr>
        {% if reseña.spoiler == 1 %}
        <tr>
            <td><div id="myDIV1{{forloop.counter}}" style="display: none;">{{reseña.texto}}</div></td>
        </tr>
        <tr><td><div id="myDIV2{{forloop.counter}}" style="display: block;">
            <button onclick="myFunction{{forloop.counter}}()">Revelar</button></div>
        </td></tr>
        {% else %}
        <tr>
            <td>{{reseña.texto}}</td>
        </tr>
        <tr>
            <td><form method="get" action="/marcarSpoiler/{{reseña.id}}">
                <button class="btn btn-danger" type="submit">Marcar como spoiler</button>
            </form></td>
        </tr>
        
        {% endif %}
        <tr>
            
            <td>
                <form method="get" action="/deleteReview/{{reseña.id}}">
                    <button class="btn btn-danger" type="submit" onClick="return confirm('¿Seguro que quieres borrar la reseña?');">Borrar reseña</button>
                </form>
            </td>
        </tr>
<script>
    function myFunction{{forloop.counter}}() {
        var x = document.getElementById("myDIV1{{forloop.counter}}");
        var y = document.getElementById("myDIV2{{forloop.counter}}");
        x.style.display = "block";
        y.style.display = "none";
    }
</script>
    {% empty %}
    <tr><td>No hay reseñas todavia</td></tr>
    {% endfor %}
</table>

<br>
{% endblock %}


{% block suscriptor %}
<form method="get" action="/listBooks">
    <button class="btn btn-primary" type="submit">Volver</button>
</form>

<table style="width:100%">
    <tr>
    <td style="width:50%">
    <h2>{{obj.nombre}}</h2>
    {% if obj.foto %}
        <img src= "/{{obj.foto}}" width="256"></img>
    {% endif %}
</br>
<strong>Autor: </strong> <p>{{obj.idAutor}}</p>
<strong>Genero: </strong> <p>{{obj.idGenero}}</p>
<strong>Editorial: </strong> <p>{{obj.idEditorial}}</p>
<strong>Descripcion: </strong> <p>{{obj.descripcion}}</p>
    </td>


    <td style="width:50%">
    {% if capitulos %}
        <table>
        {% if obj.LibroEnCapitulos %}
        <th>Capitulos</th>
        {% for capitulo in capitulos %}
        <tr>
            <td>{{capitulo.numero}} {{capitulo.nombre}}</td>
            <td>
                <form method="get" action="/leerCapitulo/{{capitulo.id}}">
                    <button class="btn btn-primary" type="submit">Leer</button>
                </form>
            </td>
            {% for abierto in abiertos %}
            {% if capitulo.id == abierto.idCapitulo.id %}
            <td>
                <form method="get" action="/marcarCapitulo/{{capitulo.id}}">
                    <button class="btn btn-danger" type="submit">Marcar Leido</button>
                </form>
            </td>
            {% endif %}
            {% endfor %}
            {% for terminado in terminados %}
            {% if capitulo.id == terminado.idCapitulo.id %}
            <td>Leido</td>
            {% endif %}
            {% endfor%}
        </tr>
        {% endfor %}
        {% else %}
        <th>Libro completo</th>
        <tr>
            {% for capitulo in capitulos %}
            <td>
                <form method="get" action="/leerCapitulo/{{capitulos.0.id}}">
                    <button class="btn btn-primary" type="submit">Leer Libro</button>
                </form>
                {% for terminado in terminados %}
            {% if capitulo.id == terminado.idCapitulo.id %}
                <td></td>Leido</td>
            {% endif %}
            {% endfor%} 
            </td>
            
            
            {% for abierto in abiertos %}
            {% if capitulo.id == abierto.idCapitulo.id %}
            <td>
                <form method="get" action="/marcarCapitulo/{{capitulos.0.id}}">
                    <button class="btn btn-danger" type="submit">Marcar Leido</button>
                </form>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
        <th>
            {% if favorito %}
            <form method="get" action="/favorito/{{obj.id}}">
                <button type="submit">Remover de Favoritos</button>
            </form>
            {% else %}
            <form method="get" action="/favorito/{{obj.id}}">
                <button type="submit">Añadir a Favoritos</button>
            </form>
            {% endif %}
        </th>
        </table>
    {% else %}
        <p>Libro no disponible</p>
    {% endif %}
    </td>
    </tr>
    <tr>
        <tr><th>Trailers</th></tr>
        {% if trailers %}
        {% for trailer in trailers %}
            <td>{{ trailer.titulo }}</td>
            <td>
                <form method="get" action="/viewTrailer/{{trailer.id}}">
                    <button class="btn btn-info" type="submit">Ver</button>
                </form>
            </td>
        {% endfor %}
        {% else %}
            <td>No Hay trailers disponibles</td>
        {% endif %}
    </tr>
    <tr><th>Reseñas</th></tr>
    {% if puntaje == 0 %}
    <tr><td>Puntaje: N/A</td></tr>
    {% else %}
    <tr><td>Puntaje: {{puntaje}}</td></tr>
    {% endif %}
    {% for reseña in reseñas %}
        <tr>
            <th>{{reseña.nombre}}{% if reseña.idPerfil == null %} (Perfil eliminido) {% endif %} Puntaje: {{reseña.puntaje}}/5</th>
        </tr>
        {% if reseña.spoiler == 1 %}
        <tr>
            <td><div id="myDIV1{{forloop.counter}}" style="display: none;">{{reseña.texto}}</div></td>
        </tr>
        <tr><td><div id="myDIV2{{forloop.counter}}" style="display: block;">
            <button onclick="myFunction{{forloop.counter}}()">Revelar</button></div>
        </td></tr>
        {% else %}
        <tr>
            <td>{{reseña.texto}}</td>
        </tr>
        {% endif %}
<script>
    function myFunction{{forloop.counter}}() {
        var x = document.getElementById("myDIV1{{forloop.counter}}");
        var y = document.getElementById("myDIV2{{forloop.counter}}");
        x.style.display = "block";
        y.style.display = "none";
    }
</script>
        {% if reseña.idPerfil == id %}
            <tr>
            <td><form method="get" action="/editReview/{{obj.id}}">
                <button class="btn btn-warning" type="submit">Editar Reseña</button>
            </form>
           <form method="get" action="/deleteReview/{{reseña.id}}">
                <button class="btn btn-danger" type="submit" onClick="return confirm('¿Seguro que quieres borrar la reseña?');">Borrar reseña</button>
            </form>
            </td>
            </tr>
            {% endif %}
    {% empty %}
    <tr><td>No hay reseñas todavia</td></tr>
    {% endfor %}
    {% if puedeReseñar %}
    <td><form method="get" action="/createReview/{{obj.id}}">
        <button class="btn btn-primary" type="submit">Dejar reseña</button>
    </form>
    </td>
    {% endif %}
    </table>
<br>
{% endblock %}