{% extends 'default/layout.html' %}

{% block admin %}

<h2>Listado de Libros</h2>
<div class="btn-group" role="group" aria-label="Basic example">
<form method="get" action="/createBook">
    <button class="btn btn-success" type="submit">Crear Libro</button>
  </form>
  &nbsp
<form method="get" action="/inicio">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Autor</th>
            <th>Fecha de Vencimiento</th>
            <th>Accion</th>
            <th>Accion</th>
            <th>Accion</th>
            {% if not libro.ultimoCapitulo %}
            <th>Accion</th>
            <th>Accion</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.nombre }}</td>
            {% if libro.idGenero %}
            <td>{{ libro.idGenero }}</td>
            {% else %}
            <td>No disponible</td>
            {% endif %}
            {% if libro.idAutor %}
            <td>{{ libro.idAutor }}</td>
            {% else %}
            <td>No disponible</td>
            {% endif %}
            <td>-</td>
            <td><a class="btn btn-info" role="button" {# href="/viewBook/{{ libro.id }}" #}>Ver</a></td>
            <td><a class="btn btn-primary" role="button" href="/editBook/{{ libro.id }}">Editar</a></td>
            <td><a class="btn btn-danger" role="button" href="/deleteBook/{{ libro.id }}" onClick="return confirm('¿Seguro que quieres borrar a {{libro.nombre}}?');" >Eliminar</a></td>
            {% if not libro.ultimoCapitulo %}
            <td><a class="btn btn-warning" role="button" href="/loadLibroCompleto/{{ libro.id }}">Subir Libro Completo</a></td>
            <td><a class="btn btn-warning" role="button" href="/loadFile/{{ libro.id }}">Subir Libro por Capitulos</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if libros.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ libros.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Page {{ libros.number }} of {{ libros.paginator.num_pages }}.
        </span>

        {% if libros.has_next %}
            <a href="?page={{ libros.next_page_number }}">proxima</a>
            <a href="?page={{ libros.paginator.num_pages }}">ultima &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block suscriptor %}

<h2>Listado de Libros</h2>

<form method="get" action="/inicio">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Autor</th>
            <th>Fecha de Vencimiento</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.nombre }}</td>
            {% if libro.idGenero %}
            <td>{{ libro.idGenero }}</td>
            {% else %}
            <td>No disponible</td>
            {% endif %}
            {% if libro.idAutor %}
            <td>{{ libro.idAutor }}</td>
            {% else %}
            <td>No disponible</td>
            {% endif %}
            <td>-</td>
            <td><a class="btn btn-info" role="button" {# href="/viewBook/{{ libro.id }}" #}>Ver</a></td>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if libros.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ libros.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Page {{ libros.number }} of {{ libros.paginator.num_pages }}.
        </span>

        {% if libros.has_next %}
            <a href="?page={{ libros.next_page_number }}">proxima</a>
            <a href="?page={{ libros.paginator.num_pages }}">ultima &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}