{% extends 'default/layout.html' %}

{% block admin %}

<h2>Listado de Novedades</h2>
<div class="btn-group" role="group" aria-label="Basic example">
<form method="get" action="/createNovedad">
    <button class="btn btn-success" type="submit">Crear Novedad</button>
</form>
&nbsp
<form method="get" action="/inicio">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>
</div>
{% if novedades %}
<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Accion</th>
            <th>Accion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>

        {% for novedad in novedades %}
        <tr>
            <td>{{ novedad.titulo }}</td>
            <td><a class="btn btn-info" role="button" href="/viewNovedad/{{ novedad.id }}">Ver</a></td>
            <td><a class="btn btn-primary" role="button" href="/editNovedad/{{ novedad.id }}">Editar</a></td>
            <td><a class="btn btn-danger" role="button" href="/deleteNovedad/{{ novedad.id }}" onClick="return confirm('¿Seguro que quieres borrar a {{novedad.titulo}}?');"> Borrar</a></td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if novedades.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ novedades.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Page {{ novedades.number }} of {{ novedades.paginator.num_pages }}.
        </span>

        {% if novedades.has_next %}
            <a href="?page={{ novedades.next_page_number }}">proxima</a>
            <a href="?page={{ novedades.paginator.num_pages }}">ultima &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
        <h2>No existen Novedades</h2>
{% endif %}
{% endblock %}

{% block suscriptor %}

<h2>Listado de Novedades</h2>
<form method="get" action="/inicio">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>
{% if novedades %}
<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        
        
        {% for novedad in novedades %}
        <tr>
            <td>{{ novedad.titulo }}</td>
            <td><a class="btn btn-info" role="button" href="/viewNovedad/{{ novedad.id }}">Ver</a></td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if novedades.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ novedades.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Page {{ novedades.number }} of {{ novedades.paginator.num_pages }}.
        </span>

        {% if novedades.has_next %}
            <a href="?page={{ novedades.next_page_number }}">proxima</a>
            <a href="?page={{ novedades.paginator.num_pages }}">ultima &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
        <h2>No existen Novedades</h2>
{% endif %}
{% endblock %}