{% extends 'default/layout.html' %}

{% block admin %}

<h2>Listado de Libros</h2>

<form method="get" action="/createBook">
    <button class="btn btn-success" type="submit">Crear Libro</button>
  </form>
<form method="get" action="/inicio">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Accion</th>
            <th>Accion</th>
            <th>Accion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.idGenero }}</td>
            <td>{{ libro.idAutor }}</td>
            <td>{{ libro.idEditorial }}</td>
            <td><a class="btn btn-info" role="button" href="/viewBook/{{ libro.id }}">Ver</a></td>
            <td><a class="btn btn-primary" role="button" href="/editBook/{{ libro.id }}">Editar</a></td>
            <td><a class="btn btn-danger" role="button" href="/deleteBook/{{ libro.id }}" 
          onClick="return confirm('¿Seguro que quieres borrar a {{libro.nombre}}?');">
            Borrar</a></td>
            <td><a class="btn btn-warning" role="button" href="/loadChapter/{{ libro.id }}">Cargar Capitulo</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!--
<ul>
    {% for libro in libros %}
    <li>
        {{ libro.nombre }}, {{ libro.isbn }}
        <a href="/editBook/{{ libro.id }}">Editar</a>
        <a href="/deleteBook/{{ libro.id }}" 
          onClick="return confirm('¿Seguro que quieres borrar a {{libro.nombre}}?');">
            Borrar
        </a>
    </li>
    {% endfor %}
</ul>
-->

{% endblock %}

{% block suscriptor %}

<h2>Listado de Libros</h2>

<form method="get" action="/inicio">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Accion</th>
            <th>Accion</th>
            <th>Accion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.idGenero }}</td>
            <td>{{ libro.idAutor }}</td>
            <td>{{ libro.idEditorial }}</td>
            <td><a class="btn btn-info" role="button" href="/viewBook/{{ libro.id }}">Ver</a></td>
        {% endfor %}
    </tbody>
</table>


<!--
<ul>
    {% for libro in libros %}
    <li>
        {{ libro.nombre }}, {{ libro.isbn }}
        <a href="/editBook/{{ libro.id }}">Editar</a>
        <a href="/deleteBook/{{ libro.id }}" 
          onClick="return confirm('¿Seguro que quieres borrar a {{libro.nombre}}?');">
            Borrar
        </a>
    </li>
    {% endfor %}
</ul>
-->

{% endblock %}