{% extends 'default/layout.html' %}

{% block suscriptor %}

<h2>Crear Reseña</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if bloqueada %}
    <p>{{form.puntaje.errors}}</p>
    <p>{{form.puntaje}}</p>
    <p>{{form.texto}}</p>
    <p><small>Esta reseña fue marcada como spoiler por un administrador</small></p>
    {% else %}
    {{ form.as_p }}
    {% endif %}
                <button class="btn btn-primary" type="submit">Crear</button>
                <a class="btn btn-secondary" role="button" href="/viewBook/{{id}}">Volver</a>
</form>
{% endblock %}