{% extends 'default/layout.html' %}

{% block suscriptor %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<table>
  <tr>
    
<h2>Editar Suscriptor</h2>
  <form method="POST">
    <td>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Confirmar Cambios</button>
  </td>
  <td>&nbsp &nbsp &nbsp &nbsp</td>
  <td>
    {{ form2.as_p }}
  </td>
    {% csrf_token %}
    <td>&nbsp &nbsp &nbsp &nbsp</td>

  </form>
    <td>
      
    <h5>Seccion de cambio de contraseña</h5>
      <a class="btn btn-primary" role="button" {# href="/loadFile/{{ libro.id }}"#}>Cambiar Contraseña</a></td>
  </tr>
</table>
  <hr />
  
  
{% endblock %}