{% extends 'default/layout.html' %}

{% block suscriptor %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
  <div class="row">
    <div align='center' class="col-sm-6">
      <h5>Modificar modo de suscripcion</h5>
      <p>Seleccione aqui para cambiar el modo de suscripcion{% if request.user.premium %} (Al cambiarse a modo "Normal" tendra disponible solo 2 perfiles){% else %} (Al cambiarse a modo "Premium" tendra el beneficio de 4 perfiles){% endif %}</p>
      <a class="btn btn-primary" role="button" href="/editModeSuscripcion" onClick="return confirm('¿Seguro que deseas cambiar de modo?');">Modificar a modo {% if request.user.premium %} Normal {% else %} premium {% endif %}</a>
    </div>
    <div align='center' class="col-sm-6">
      <h5>Modificar contraseña</h5>
      <p>Ingrese a esta seccion para poder modificar su contraseña</p>
    <a class="btn btn-primary" role="button" {# href="/loadFile/{{ libro.id }}"#}>Modificar Contraseña</a>
    </div>
  </div>
</div>
 
&nbsp &nbsp &nbsp &nbsp
  
<h2>Editar Suscriptor</h2>
  <form method="POST">
    {{ form.as_p }}
    {{ form2.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Confirmar Cambios</button>
  </form>
  
  
{% endblock %}