{% extends 'default/layout.html' %}

{% block suscriptor %}

<h2>Bienvenido <strong>{{user.nombre}}{{user.apellido}}</strong></h2>
  <hr />
<table>
  <tr>
    <td valign="top">
<ul>
  <li>
    <form method="get" action="/listBooks">
      <button class="btn" style="background-color:chocolate" type="submit">Seccion de libros</button>
    </form>
  </li>
  <li>
    <form method="get" action="/listNovedades">
      <button class="btn" style="background-color:indianred" type="submit">Seccion de Novedades</button>
    </form>
  </li>
  <li>
    <form method="get" action="/listTrailers">
      <button class="btn" style="background-color:aqua" type="submit">Seccion de Trailers</button>
    </form>
  </li>

</ul>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<div class="abs-center">
  <form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</div>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td valign="top">
{% if res == "" %}
    <a>No se Encontró resultados</a>
{% else %}
<table>
  
  {% for resultado in res %}
  <tr>
  <td>
    {{resultado.nombre}}
  </td>
  </tr>
  {% endfor %}

</table>
{% endif %}
  
</td>
</tr>
</table>
{% endblock %}


