{% extends 'default/layout.html' %}

{% block public %}
<table>
  <tr>
    <td>
<h4>Registrar Suscriptor</h4>

  <form method="POST">
    {{ form.as_p }}
    </td>
    <td>***</td>
    <td>
<h4>Registrar Tarjeta</h4>
    {{ form2.as_p }}
    {% csrf_token %}
    </td>
    <td>***</td>
    <td width="250">
    {{ form3.as_p }}
    <a>Al tiquear este campo se le amplia 
      el numero de perfiles de 2 a 4 pero tambien 
      aumenta el costo de la suscripcion</a>
    </td>
    <td></td>
  </tr>
</table>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
    
  <hr />

  <a href="/login">Iniciar sesión</a>

{% endblock %}

