{% extends 'default/layout.html' %}

{% block public %}
<h2>Registrase</h2>
<table>
  <tr>
    <td>
<h4>Informacion suscriptor</h4>

  <form method="POST">
    {{ form.as_p }}
    </td>
    <td>&nbsp &nbsp &nbsp &nbsp</td>
    <td>
      &nbsp
<h4>Informacion de Tarjeta</h4>
    {{ form2.as_p }}
    {% csrf_token %}
    </td>
    <td>&nbsp &nbsp &nbsp &nbsp</td>
    <td>
      <h4>Tipo de Suscripcion</h4>
      <a>La suscripcion normal de 000$ trae 2 perfiles para el suscriptor</a>
      <hr />
      <a>Si selecciona la suscripcion premium de 000$ Tendra el beneficio de 4 perfiles</a>
      <hr />
      {{ form3.as_p }}
    </td>
    <td></td>
  </tr>
</table>
    <button type="submit" class="btn btn-primary">Registrar</button>
    <a class="btn btn-secondary" href="/">Volver</a>
  </form>
    
  <hr />
  
{% endblock %}

