{% extends 'default/layout.html' %}

{% block admin %}

<h2>Área para miembros</h2>

  <p>Bienvenido <b>{{request.user.email}}</b>, esta página es exclusiva para usuarios registrados.</p>

  <hr /> <!-- salto de linea-->

  <ul>
    <li>
      <form method="get" action="/listBooks">
        <button style="background-color:sienna" type="submit">Ver lista de libros</button>
      </form>
    </li>
    <li>
      <form method="get" action="/createCapitulo">
        <button style="background-color:cornflowerblue" type="submit">Subir Capitulo</button>
      </form>
    </li>
    <li>
      <form method="get" action="/createNovedad">
        <button style="background-color:indianred" type="submit">Crear Novedad</button>
      </form>
    </li>
    <li>
      <form method="get" action="/createEditorial">
        <button style="background-color:fuchsia" type="submit">Crear Editorial</button>
      </form>
    </li>
    <li>
      <form method="get" action="/createGenero">
        <button style="background-color:salmon" type="submit">Crear Genero</button>
      </form>
    </li>
    <li>
      <form method="get" action="/createAutor">
        <button style="background-color:goldenrod" type="submit">Crear Autor</button>
      </form>
    </li>
    <li>
      <form method="get" action="/createBook">
        <button style="background-color:greenyellow" type="submit">Crear Libro</button>
      </form>
    </li>
    <li>
      <a href="/logout">Cerrar sesión</a>
    </li>
</ul>

{% endblock %}


