{% extends 'default/layout.html' %}

{% block admin %}

<h2>Área para administradores</h2>

  <p>Bienvenido <b>{{request.user.email}}</b>, esta página es exclusiva para usuarios administradores</p>

  <hr /> <!-- salto de linea-->

  <ul>
    <li>
      <form method="get" action="/listEditoriales">
        <button class="btn" style="background-color:fuchsia" type="submit">Lista de Editoriales</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listGeneros">
        <button class="btn" style="background-color:salmon" type="submit">Lista de Generos</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listAutores">
        <button class="btn" style="background-color:goldenrod" type="submit">Lista de Autores</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listBooks">
        <button class="btn" style="background-color:chocolate" type="submit">Seccion de libros</button>
      </form>
  </li>
  <li>
    <form method="get" action="/listNovedades">
      <button class="btn" style="background-color:indianred" type="submit">Seccion de Novedades</button>
    </form>
  </li>
    <li>
      <form method="get" action="/listTrailers">
        <button class="btn" style="background-color:aqua" type="submit">Seccion de Trailers</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listReportes">
        <button class="btn" style="background-color:burlywood" type="submit">Seccion de Reportes</button>
      </form>
    </li>
</ul>
<li>
  <a href="{% url 'logout' %}" 
          onClick="return confirm('¿Seguro que quiere cerrar sesión?');">
          Cerrar sesión
    </a>
</li>

{% endblock %}


