{% extends 'default/layout.html' %}

{% block admin %}

<h2>Área para administradores</h2>

  <p>Bienvenido <b>{{request.user.email}}</b>, esta página es exclusiva para los administradores</p>

  <hr /> <!-- salto de linea-->
  <table>
    <tr>
      <td valign="top">
  <ul>
    <li>
      <form method="get" action="/listEditoriales">
        <button class="btn" style="background-color:fuchsia" type="submit">Lista de Editoriales</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listGeneros">
        <button class="btn" style="background-color:salmon" type="submit">Lista de Generos</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listAutores">
        <button class="btn" style="background-color:goldenrod" type="submit">Lista de Autores</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listBooks">
        <button class="btn" style="background-color:chocolate" type="submit">Seccion de libros</button>
      </form>
  </li>
  <li>
    <form method="get" action="/listNovedades">
      <button class="btn" style="background-color:indianred" type="submit">Seccion de Novedades</button>
    </form>
  </li>
    <li>
      <form method="get" action="/listTrailers">
        <button class="btn" style="background-color:aqua" type="submit">Seccion de Trailers</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listReportes">
        <button class="btn" style="background-color:burlywood" type="button">Seccion de Reportes</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listUsuarios">
        <button class="btn" style="background-color:darkgreen" type="submit">Ver Reporte de usuarios</button>
      </form>
    </li>
    <li>
      <form method="get" action="/listReportBooks">
        <button class="btn" style="background-color:slateblue" type="submit">Ver Reporte de libros</button>
      </form>
    </li>
</ul>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<div class="abs-center">
  <form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</div>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td valign="top">
{% if res == "" %}
    <a>No se Encontró resultados</a>
{% else %}
<table>
  {% if res != "-" %}
  <tr>
    <th>
      Nombre del libro
    </th>
    <th>
      Enlace
    </th>
  </tr>
  {% for resultado in res %}
  <tr>
  <td>
    {{resultado.nombre}}
  </td>
  <td>
    <a class="btn btn-info" role="button" href="/viewBook/{{ resultado.id }}">Ver</a>
  </td>
  </tr>
  {% endfor %}
  {% endif %}
</table>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endif %}
  
</td>
</tr>
</table>
{% endblock %}


