.imglogo {
    max-width: 50%;
}
.container {
    width: 100%;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
.form {
    width: 450px;
 }
 /* en teroria esto deberia de alinear el contenido de las tablas en la parte superior
td {
    vertical-align: text-top;
}
*/