{% extends 'views/default/layout.html' %}


{% block content %}

<div id="content-main">

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }} Usuario
    {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }} Contraseña
    {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
 
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit">
  </div>
</form>

</div>
{% endblock %}
