{% extends 'default/layout.html' %}

{% block admin %}

<h2>Crear Novedad</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label> Titulo</label>
                <input class="form-control" type="text" name="titulo" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Descripcion</label>
                <textarea class="form-control" name="descripcion" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Ingrese el archivo</label>
                <input class="form-control" type="file" name="archivo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Crear</button>
            </div>
        </div>
    </div>
</form>
<form>
    <input class="btn btn-secondary" type="button" value="Volver" onclick="history.back()">
  </form>

{% endblock %}