{% extends 'default/layout.html' %}

{% block admin %}

<h2>Crear Novedad</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Crear</button>
            </div>
        </div>
    </div>
</form>
<form method="get" action="/listNovedades">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>

{% endblock %}