{% extends 'default/layout.html' %}

{% block admin %}

{% if capitulos %}
<p><a class="btn btn-secondary" role="button" href="/listBooks">Volver</a></p>
    <table>
        
    {% if obj.LibroEnCapitulos %}
        {%for capitulo in capitulos %}
            <tr>
                <td>{{capitulo.numero}}</td>
                <td>{{capitulo.nombre}}</td>
                <td><a class="btn btn-primary" role="button" href="/editCapitulo/{{ capitulo.id }}">Editar</a></td>
                <td><a class="btn btn-danger" role="button" href="/deleteCapitulo/{{ capitulo.id }}" onClick="return confirm('¿Seguro que quieres borrar a el capitulo?');"> Eliminar</a></td>
            </tr>
        {% endfor %}
        <tr>
            <a class="btn btn-warning" role="button" href="/loadLibroCompleto/{{ obj.id }}">Subir Libro Completo</a>
        </tr>
    {% else %}
        {%for capitulo in capitulos %}
        <tr>
            <td>{{obj.nombre}}</td>
            <td><a class="btn btn-primary" role="button" href="/editCapitulo/{{ capitulo.id }}">Editar</a></td>
            <td><a class="btn btn-danger" role="button" href="/deleteCapitulo/{{ capitulo.id }}" onClick="return confirm('¿Seguro que quieres borrar a el libro?');"> Eliminar</a></td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
    <div id="myDIV1" style="display: none;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" >Guardar</button>
    </form>
    </div>
    <div id="myDIV2" style="display: block;">
        <button class="btn btn-primary" onclick="myFunction()">Modificar Fechas</button>
    </div>
<script>
    function myFunction() {
        var x = document.getElementById("myDIV1");
        var y = document.getElementById("myDIV2");
        x.style.display = "block";
        y.style.display = "none";
    }
</script>
{% else %}
    <p>Libro esta vacio</p>
    <a class="btn btn-warning" role="button" href="/loadLibroCompleto/{{ obj.id }}">Subir Libro Completo</a>
    <a class="btn btn-warning" role="button" href="/loadLibroEnCapitulos/{{ obj.id }}">Subir Libro por Capitulos</a>
{% endif %}
{% endblock %}