{% extends 'default/layout.html' %}

{% block admin %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2>Listado de Generos</h2>
<div class="btn-group" role="group" aria-label="Basic example">
<form method="get" action="/createGenero">
    <button class="btn btn-success" type="submit">Cargar Genero</button>
  </form>
  &nbsp
<form method="get" action="/inicio">
    <button class="btn btn-secondary" type="submit">Volver</button>
</form>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for genero in generos %}
        <tr>
            <td>{{ genero.nombre }}</td>
            <td><a class="btn btn-danger" role="button" href="/deleteGenero/{{ genero.id }}" 
          onClick="return confirm('¿Seguro que quieres borrar a {{genero.nombre}}?');">
            Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}