{% extends 'default/layout.html' %}

{% block admin %}

    <style>
    div {text-align: center;}
    </style>
    
    <h2 class="center">Cargar libro</h2>
    <br />  <br />  <br />
    <div class="row">
        <p class="col-sm-2"></p>
        <div class="col-sm-3">
        <form method="get" action="/loadCapitulo/{{ libro_id }}">
            <b>Si desea cargar el libro con un unico capitulo completo, seleccione aca</b>
            <hr>
            <button class="btn" style="background-color:seagreen" type="submit">Libro Completo</button>
          </form>
        </div>
        <a class="col-sm-2"></a>
        <div class="col-sm-3">
            <form method="get" action="/loadCapitulo/{{ libro_id }}">
                <b>Si desea cargar el libro en partes, con varios capitulos, seleccione aca</b>
                <hr>
                <button class="btn" style="background-color:yellowgreen" type="submit">Libro en Capitulos</button>
              </form>
            </div>
        <p class="col-sm-2"></p>
    </div>

    <a class="btn btn-secondary" role="button" href="/listBooks">Volver</a>
    
{% endblock %}