{% extends 'default/layout.html' %}

{% block admin %}

<h2>Cargar</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <button class="btn btn-success" type="submit">Cargar</button>
    <a class="btn btn-secondary" role="button" href="/listBooks">Volver</a>
</form>

{% endblock %}