
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookFlix</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">
                    <img src="{% static 'images/bookflix.png' %}" class="imglogo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Inicio</a>
                        </li>
                        {% if user.is_superuser != 1 %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'infoSus' %}">Mi Informacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'historial' %}">Mi Historial</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'logout' %}" 
                            onClick="return confirm('¿Seguro que quiere cerrar sesión?');">
                            Cerrar sesión
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Iniciar sesion</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
    </header>    
