{% include "default/header.html" %}
<div class="container">
{% if user.is_authenticated %}
{% block share %}
    {% if user.is_superuser == 1 %}
        {% block admin %}
        {% endblock %}
    {% else %}
        {% block suscriptor %}
        {% endblock %}
    {% endif %}
{% endblock %}
{% else %}
    {% block public %}
        <a>Tiene que loguearse para ver el contenido</a>
        <a href="login/">click aqui para ingresar</a>
    {% endblock %}
{% endif %}
</div>
{% include "default/footer.html" %}